.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.list .item {
    margin-right: 1em;
}

.list .item .links {
    text-decoration: none;
    color: #000;
}